span {
    width: 7px;
    height: 7px;
    border: 1px solid #000000;
    display: block;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #ffffff;
}

table{
    border:0px; /* border="0" */
    border-collapse:collapse; /* cellspacing="0" */
}

table td{
    padding:0px; /* cellpadding="0" */
}

